.env
test.csv
train.csv
val.csv
test_no_outliers.csv
train_no_outliers.csv
val_no_outliers.csv

test.py
wav_mp3.py
wav2vec_test.py
requirements.py
output.txt

IEMOCAP_wav/
IEMOCAP_mp3/
wav2vec2-xls-r-300m/
Imagenes/
Data/
__pycache__/
.ipynb_checkpoints/
MELD.Raw/
EmoDB/
IEMOCAP/
venv/
