.env
test.csv
train.csv
val.csv

test.py
wav_mp3.py
wav2vec_test.py
requirements.py

IEMOCAP_wav/
IEMOCAP_mp3/
wav2vec2-base-960h/
Imagenes/
Data/
__pycache__/
.ipynb_checlpoints/
MELD.Raw/
EmoDB/
IEMOCAP/
