apex==0.9.10dev
audiomentations==0.20.0
datasets==1.18.1
ipython==8.0.1
Keras==2.4.3
librosa==0.8.0
matplotlib==3.3.3
numpy==1.19.5
packaging==21.3
pandas==1.2.0
parselmouth==1.1.1
pymongo==4.0.1
python-dotenv==0.19.2
scikit_learn==1.0.2
scipy==1.6.0
torch==1.10.1
torchaudio==0.10.1
tqdm==4.62.3
transformers==4.11.3
